html{
    font-size:14px;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color:white;
    padding:0;
    margin:0;
}
body:scroll nav{
    display: none;
}

.logo a{
    display: block;
    width:200px;
    height:150px;
}
@keyframes slidein {
    0%{
        filter: saturate(1);
    }
    25%{
        filter: saturate(2) invert(70%);
        transform: scale(1.1) rotate(3deg);

    }
    50%{
        filter: saturate(2) invert(90%) hue-rotate(190deg);
        transform: scale(0.9) rotate(-5deg);
    }
    100%{
        filter: saturate(1) invert(0);
    }
}
.logo a:hover{
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-name: slidein;
  
}
.logo img{
    display: block;
    width:100%;
}
header{
    position:fixed;
    z-index:1000;
    top:0px;
    overflow: hidden;
    left:0px;
    box-shadow:0px 0px 30px 30px rgba(0, 0, 0, 0.082);
    width:100%;
    background-color: white;
    height:150px;

}
.wrap{
    width:1200px;
    margin:auto;
}
header .wrap{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

header nav ul{
display: flex;
padding:0;
}
header nav li {
    list-style: none;
}
header nav a{
    margin: 0 20px ;
    padding: 10px 0;
    color:#201e36;
    font-size:1.3rem;
    display: block;
    position: relative;
    text-decoration: none;
    font-family: 'Arvo', serif;
    transition: all 0.5s cubic-bezier(.17,.67,.96,1.4);

}
header nav a.current{
    color:#745ad7;

}
header nav a.current:before{
    left:0;
    width:100%;
    background:#745ad7 ;
}
header nav i{
    padding:0 10px;
}
header nav a:hover{
    color:gray;
}
header nav a:before{
    content:" ";
    display: block;
    left:50%;
    width:0;
    height:3px;
    background-color: gray;
    position: absolute;
    bottom:0px;
    transition: all 0.5s cubic-bezier(.17,.67,.62,1.6);
}
header nav a:hover:before{
    width:100%;
    left:0;

}

main{
    padding:150px 0 60px 0;
}

.homeGal{
    display: flex;
    flex-wrap:wrap;

}
.navGal{
    flex:0 0 25%;
    padding-top:25%;
    position: relative;
    border:10px solid rgba(0, 0, 0, 0.459);
    border-width:10px 5px;
    background-size: cover;
    filter: grayscale(0.85) contrast(1.3);
    opacity: 0.9;
    overflow:hidden;
    box-sizing: border-box;
    height:100%;
    transition: all 0.5s;
}
.navGal:hover{
filter: hue-rotate(30deg);
}
.navGal-1{
    background: url('image1.jpg');
}
.navGal-2{
    background: url('image2.jpg');
}
.navGal-3{
    background: url('image3.jpg');
}
.navGal-4{
    background: url('image4.jpg');
}
.navGal-5{
    background: url('image5.jpg');
}
.navGal-6{
    background: url('image6.jpg');
}
.navGal-7{
    background: url('image7.jpg');
}
.navGal-8{
    background: url('image8.jpg');
}
.navGal .overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.616);
    width:100%;
    height:30%;
    bottom:0;
    left:0;
    margin:0;
    display:flex;
    align-items: center;
    transition: all 0.5s;
}

.navGal:hover .overlay{
    height:100%;
}
.navGal .overlay p{
    text-align:center;
    text-transform: uppercase;
    font-weight: 900;
    width:100%; 
    color: white;
    font-size:2rem;
}
.navGal a{

    display: block;
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;

}

.mainTitle{
    padding:40px 0 0;
    text-align: center;
    font-weight: 100;
    font-size: 3.5rem;
}
.mainTitle i{
    color: #745ad7;
}

.accueilMessage{
    font-size:1.6rem;
    text-align:center;
    line-height: 1.4;
    font-weight:400;
    padding:0 0 100px 0;
}
.fixedFooter{
    background: #e2e2e2;
    position:fixed;
    z-index:999;
    width:100%;
    bottom:0;
    left:0;
}
.fixedFooter nav ul{
    display: flex;
    padding:1rem 0;
    margin:0;
    align-content: center;
    justify-content: center;
}
.fixedFooter li{
    list-style: none;
}
.fixedFooter li a{
    font-size:1.6rem;
   padding:7px 0 0 0;
    text-align: center;
    color: white;
    border-radius:150px;
    margin: 0 0.8rem;
    height:30px;
    width:37px;
    background-color: #745ad7;
    display: block;
    transition: all 1s;
}

.fixedFooter li a:hover{
    animation-duration: 1s;
    animation-name: socialanim;
    background-color: #211d38;
}
@keyframes socialanim {
    0%{

    }
    25%{
    transform:rotate(30deg);
    }
    50%{
        transform:rotate(-30deg) scale(1.2);
    }
}

.footer{
    background: #332f38;
    padding:20px 0;
    margin: 70px 0 0 0;
    display: flex;
    justify-content: center;
}
.logoFooter{
    width:200px;
    display: block;
    margin:0 auto;
}
.mailFooter,.telFooter{
display:block;
padding:10px 0;
text-align: center;
color:white;
text-decoration: none;
font-size:1.6rem;
}
.footerContact{
    padding: 0 40px;
}
.mailFooter i, .telFooter i{
    margin: 0 10px 0 0;
}

.leftLinks{
    border-right:1px solid white;
    padding-right:60px;
}

.rightLinks{
border-left: 1px solid white;
padding-left:60px;
}
.rightLinks li,.leftLinks li{
    list-style-type: none;
}
.rightLinks ul,.leftLinks ul{
    padding:0;
}
.rightLinks a ,.leftLinks a{
    color:white;
    font-size: 1.3rem;
    display: block;
    padding:8px 0;
    text-decoration: none;

}
.rightLinks a:hover ,.leftLinks a:hover,.mailFooter:hover,.telFooter:hover{
    color: #9a6fff;
}
.contact{
    display:flex;
    align-content: center;
    justify-content:center;
    align-items:center;
    padding:0 0 100px 0;

}
.contactImg{
    width: 40%; 
    margin: 0 50px;

}
.contact form{
flex:0 0 35%;
}

.contact label{
    display: block;
    font-size:1.6rem;
    margin:0 0 1rem 0;
}
.contact form div{
    margin:0 0 2rem;
}

.contact input{
    display: block;
    width:90%;
    font-size:1.3rem;
    border:1 px solid gray;
    
}
.contact textarea{
    width:100%;
    font-size: 1.3rem;
    box-sizing: border-box;
    border-radius: 0px;
    border:1 px solid gray;
}
.contact .button{
    font-size: 1.3rem;
    border:1px solid white;
    background: #745ad7;
    color:white;
    border:none;
    transition: all 0.5s;
    padding:1rem 2rem;
}
.contact .button i{
    margin: 0 0 0 10px;
}
.contact .button:hover{
    background: white;
    color:#745ad7;
    border:1px solid #745ad7;
}
.contact div i{
    float:left;
    width:10%;
    box-sizing: border-box;
    padding:10px 0;
    border:1px solid gray;
    border-width:1px 0px 1px 1px;
    height:40px;
    text-align: center;
    font-size:1.6rem;
    display: block;
    transition: all 0.5s;
}
.contact div:hover i{
    background-color: #745ad7;
    color:white;
}
.contact div{
    overflow: hidden;
}
.contact div input{
    height:40px;
    border-radius:0px;
    border:1px solid gray;
    box-sizing: border-box;
    float:left;
}

.about p{
    font-size: 1.6rem;
    font-weight: 400;
}

p.quote{
     font-size:1.8rem;
    font-weight: 700;
    z-index:20;
    position: relative;
}
p.quote:before{
    content:" ";
    width:60px;
    height:70px;
    z-index:0;
    background: url('chaudron.png');
    display: block;
    filter:sepia(1);
    opacity: 0.7;
    position: absolute;
    top:-40px ;
    left:-50px;
    background-size: cover;
}
.about{
    padding:0 0 50px 0;
}
.aboutImage{
    width:75%;
    filter: grayscale(0.8) hue-rotate(80deg);
    margin:1rem auto 5rem;
    display: block;
}

.news{
    display: flex;
    justify-content: space-between;

}
.newsImage{
    height:170px;
    width:100%;
    background-size: cover;
    filter: grayscale(80%);
    transition: all 0.5s;
}
.newItem:hover .newsImage{
    background-position: top;

}
.newsImage1{
    background: url(image4.jpg) center center;
}
.newsImage2{
    background: url(image7.jpg) center center;
}
.newsImage3{
    background: url(image8.jpg)center center;
}
.newItem{
    border:1px solid rgb(202, 202, 202);
    flex: 0 0 28%;
    padding:0 0 30px 0;
    position: relative;
    transition: all 0.5s;

}
.newItem:hover{
    transform: scale(1.1);
}
.newItem time{
    display: block;
    padding: 20px 0 0 20px;
    color:#745ad7;
    font-size: 1.2rem;
}
.newItem h2{
    padding: 0 0 0 20px;
    font-size:2rem;
}
.newItem p{
    padding: 0 20px 0 20px;
    font-size:1.5rem;
}
.newItem a{
    position: absolute;
    left:0px;
    z-index:100;
    top:0px;
    width:100%;
    height:100%;
}
.newImage{
    display: block;
    width:80%;
    margin: 2rem auto;
}
.new p{
    font-size: 1.6rem;
    font-weight: 400;
}
.new time{
    font-size: 1.4rem;
    display: block;
    text-align: center;
    color:#745ad7;
}
.spells{
    display:flex;
    flex-wrap:wrap ;
    justify-content: space-around;
}
.spell{
    flex:0 0 28%;
    margin : 2rem 0 3rem;
}
.spell h2{
    text-align: center;
}
.spell img{
    height:230px;
    display: block;
    margin:auto;


}
.spell table{
    width:100%;
    text-align:center;
    border-collapse: collapse;
}
.spell td,.spell th{
    padding:10px 0;
    border-bottom:1px solid rgb(180, 180, 180);
}
.spell tr:last-child td, .spell tr:last-child th{
    border:none;
}

.spell dl dt{
    display: block;
    margin: 0;
    font-size: 0.9rem;
    background: url('magic-wand.png') no-repeat left 0;
    background-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 0 0.5rem 2rem;
}

.spell dl dd{
    display: block;
    margin:0 0 1.5rem;
    padding: 0 0 0 2rem;
}
.spell dl{
    height: 180px;
    margin: 1.5rem 0 0 0;
    overflow:auto;
}
.ingredients{
    display: flex;
    justify-content: space-between;
}

.menuCateg{
    flex:0 0 29%;
}
.menuCateg ul {
    padding:0
}
.menuCateg li{
    list-style-type: none;

}
.menuCateg a{
    display: block;
    border-bottom:1px solid rgb(124, 124, 124);
    padding: 15px 0;
    font-size:1.4rem;
    color:gray;
    text-decoration: none;
    transition:all 0.3s;
}
.menuCateg a:hover{
    color:#745ad7;
    padding-left:10px;
}


.menuCateg h2{
    background-color: #745ad7;
    color:white;
    margin:0;
    font-weight:400;
    padding:10px 20px;
}
.categs{
    flex:0 0 68%;
}
.categs ul{
    display:flex;
    padding:0;
    flex-wrap: wrap;
    margin:0;
    justify-content: space-around;
}
.categs li{
    flex:0 0 30%;
    list-style: none;
    margin: 0 0 2rem 0;
    text-align:center;
}
.categs li a {
    display: block;
    padding: 2rem 0 0 0;
    text-decoration: none;
    background-color: white;
    color: #745ad7;
    border: 1px solid rgb(189, 189, 189);

}
.categs li h2{
    font-weight:400;
}
.categs li a:hover{
    animation-duration: 0.7s;
    animation-name: categanim;

}
.categs li img{
    height:100px;
    filter: grayscale(50%) hue-rotate(20deg);
}
@keyframes categanim{
    0%{

    }
    25%{
        transform:rotate(-2deg);
    }
    50%{
        transform:rotate(2deg);

    }
 
}